@model IEnumerable<RentCar.Models.CR_Mas_Sup_Features>
<link href="~/Bootstrap_Arabic/bootstrap.min.css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/bootstrap-big-grid.min.css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="~/Bootstrap_Arabic/font-awesome.css" type="text/css" rel="stylesheet" />
<script src="~/Bootstrap_Arabic/jquery-v1.11.2.js"></script>
<script src="~/Bootstrap_Arabic/bootstrap.min.js"></script>
<script src="~/Bootstrap_Arabic/bootstrap.min.js"></script>
<script src="~/Bootstrap_Arabic/jquery.dataTables.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js"></script>
@*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<!--content page /**layout**/-->
@*<link href="~/Bootstrap_Arabic/font-awesome.min.css" rel="stylesheet" />*@

<style>
    #inputtext {
        width: 250px;
        height: 30px;
        margin-right: 293px;
        margin-left: -5px;
        float: left;
        margin-top: 5px;
        border-color: #4A80B3;
        border-radius: unset;
    }

    #SrchImg {
        float: left;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: -35px;
        position: relative;
    }

    td {
        font-family: 'Times New Roman';
        font-size: 14px;
        padding: 5px 4px !important;
        font-weight: 100;
        color: #73A0C1;
        border-color: #4A80B3;
    }

    th {
        font-family: 'Times New Roman';
        font-size: 16px;
        font-weight: bold;
        border-color: #4A80B3;
        cursor: pointer;
    }

    .title_corp {
        margin-top: -15px;
    }

    .table thead {
        overflow-y: scroll;
        flex-grow: 1;
    }

    .table tr a {
        text-decoration: none;
        color: black !important;
        border-color: #4A80B3;
    }

    .table td {
        color: #083555;
        border-color: #4A80B3;
    }

    .table thead th {
        color: #124f77;
        border-color: #4A80B3;
        text-align: center;
        background: #D1EAFA;
        position: sticky;
        top: 0;
    }

    .title_corp {
        font-family: 'Times New Roman';
        font-size: 25px;
    }

    .subtitle_corp {
        padding-top: 3px !important;
        font-family: 'Times New Roman' !important;
        color: #083555;
    }
</style>
<div class="" style="margin-top:70px;">
    <div class="corp_page">
        <div class="page_content">
            @*<form method="post">*@
                <div class="form_bg">
                    <div class="table-responsive" style="width:800px; height:400px; overflow:auto;border: 1px solid #4A80B3;">
                        <div id="dtBasicExample_print">
                            <table class="table table-bordered table-striped " id="myTable">
                                <thead>
                                    <tr>
                                        <th hidden>
                                            code
                                        </th>
                                        <th>
                                            الميزة
                                        </th>


                                        <th>
                                            إختر
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbl">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td  hidden>
                                                @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Features_Code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Features_Ar_Name)
                                            </td>


                                            <td id="st">
                                                <input type="checkbox" id="chk" name="chk"/>
                                               
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            @*</form>*@
        </div>
    </div>


    <script type="text/javascript" lang="en">
                $(document).ready(function () {
                    $('#add_btn').click(function () {
                        var rows = [];
                        $('#myTable tbody tr').each(function () {
                            var code = $(this).find('td').eq(0).text().trim();
                           
                            var name = $(this).find('td').eq(1).text().trim();
                            
                            //var st = $(this).find('td').eq(2).val();
                            var st = document.getElementById("chk").checked

                            var row = code + "-" + name + "-" + st;
                            
                            rows.push(row);
                        });
                        $.post('@Url.Action("AddCasFeatures", "CasCarInformation")', { rows: rows }, function (data) {
                            //console.log(data);
                            alert("w");
                        });

                        //$.ajax({
                        //    type: "POST",
                        //    url: "/CasCarInformation/Create",
                        //    data: JSON.stringify(rows),
                        //    contentType: "application/json; charset=utf-8",
                        //    dataType: "json",
                        //    success: function (data) {
                        //        //alert(data);
                        //    }
                        //});

                    });
                });
    </script>





</div>