@model IEnumerable<RentCar.Models.ChoicesListVal>



<style>
    #inputtext {
        width: 250px;
        height: 30px;
        margin-right: 293px;
        margin-left: -5px;
        float: left;
        margin-top: 5px;
        border-color: #4A80B3;
        border-radius: unset;
    }

    #SrchImg {
        float: left;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: -35px;
        position: relative;
    }

    td {
        font-family: 'Times New Roman';
        font-size: 14px;
        padding: 5px 4px !important;
        font-weight: 100;
        color: #73A0C1;
        border-color: #4A80B3;
    }

    th {
        font-family: 'Times New Roman';
        font-size: 16px;
        font-weight: bold;
        border-color: #4A80B3;
        cursor: pointer;
    }

    .title_corp {
        margin-top: -15px;
    }

    .table thead {
        overflow-y: scroll;
        flex-grow: 1;
    }

    .table tr a {
        text-decoration: none;
        color: black !important;
        border-color: #4A80B3;
    }

    .table td {
        color: #083555;
        border-color: #4A80B3;
    }

    .table thead th {
        color: #124f77;
        border-color: #4A80B3;
        text-align: center;
        background: #D1EAFA;
        position: sticky;
        top: 0;
    }

    .title_corp {
        font-family: 'Times New Roman';
        font-size: 25px;
    }

    .subtitle_corp {
        padding-top: 3px !important;
        font-family: 'Times New Roman' !important;
        color: #083555;
    }

    .table {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="" style="margin-top:20px;">

    <div class="table-responsive" style="width:50%; height:300px;overflow:auto;margin:auto;margin-top:25px;">

        <table class="table table-bordered table-striped" id="ChoicesList">
            <thead>
                <tr>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.CR_Mas_Sup_Choices_Code)
                    </th>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.CR_Mas_Sup_Choices_Group_Code)
                    </th>
                    <th width="70%">
                        الخيارات
                    </th>

                    <th width="30%">
                        القيمة
                    </th>

                </tr>
            </thead>
            <tbody id="tbl" style="height: 230px;">
                @foreach (var item in Model)
                {

                    if (item.CR_Cas_Car_Price_Choices_Value != null)
                    {
                        <tr>
                            <td width="70%">
                                @Html.DisplayFor(modelItem => item.CR_Mas_Sup_Choices_Ar_Name)
                            </td>
                            <td width="30%">
                                @Html.DisplayFor(modelItem => item.CR_Cas_Car_Price_Choices_Value)
                            </td>
                        </tr>

                    }


                }
            </tbody>
        </table>

    </div>

</div>


