
@{
    ViewBag.Title = "BranchHome";
    Layout = "~/Views/Shared/_LayoutSys3Home.cshtml";
}
<div>
    <div class="card-box" style="height:375px">
        <img src="~/BSys3 Styles/Images/car.jpg" style="float:left;height:300px;width: 100%;object-fit: contain;">
    </div>

</div>