<div class="row" style="height:auto">

    <div class="col-md-12">
        <script src="~/Scripts/Chart.js"></script>

        <canvas id="ChartKm" style="width:100%;max-width:895px;height:450px;"></canvas>

        <script>
            var xValues = ["أقل من 100 كم","من 101 إلى 200 كم","من 201 إلى 250 كم","من 301 إلى 350 كم","أكثر من 350 كم"];
            var yValues = [@ViewBag.D1,@ViewBag.D2,@ViewBag.D3,@ViewBag.D4,@ViewBag.D5];
            var barColors = [
                "#b91d47",
                "#00aba9",
                "#2b5797",
                "#e8c3b9",
                "#FFB533",
            ];

            new Chart("ChartKm", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "العقود  @ViewBag.NbrTot"
                    }
                }
            });
        </script>

    </div>

</div>

