@model IEnumerable<RentCar.Models.CR_Cas_User_Information>

<table id="myTable" class="table table-striped mb-0" style="cursor:pointer">
    <thead>
        <tr>
            <th width="5%">
                م
            </th>
            <th width="9%">
                رقم المستخدم
            </th>
            <th width="21%" class="text-left">
                إسم المستخدم
            </th>
            <th width="9%">
                رقم الجوال
            </th>
            <th width="9%">
                الرصيد
            </th>
            <th width="30%">
                البريد الإلكتروني
            </th>

        </tr>
    </thead>
    <tbody id="tbl">
        @{ int c = 0;
            foreach (var item in Model)
            {
                c += 1;
                <tr>
                    <td width="5%" align="center">

                                <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                                    @c
                                </a>
                    </td>
                    <td width="9%" align="center">

                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)
                        </a>
                    </td>
                    <td width="21%">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Ar_Name)
                        </a>
                    </td>


                    <td width="9%" align="center">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Mobile)
                        </a>
                    </td>

                    <td width="9%" align="center">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @{
                                float floatConvert3;
                                if (item.CR_Cas_User_Information_Balance != null)
                                {
                                    floatConvert3 = (float)item.CR_Cas_User_Information_Balance;

                                }
                                else
                                {
                                    floatConvert3 = 0;
                                }
                                var Information_Balance = floatConvert3.ToString("N2");
                            }
                            @Information_Balance
                        </a>

                        
                    </td>

                    <td align="right" width="30%">
                        <a href="~/TransferToUser/create/?id=@Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Id)">
                            @Html.DisplayFor(modelItem => item.CR_Cas_User_Information_Emaile)
                        </a>
                    </td>


                </tr>

                }
            }
        </tbody>
</table>
